@import "fontello";

html,
body {
	margin: 0;
	color: #666;
	font-size: 14px;
	background-color: #e8e8e8;
	font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", sans-serif;
}

input {
	font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
	max-width: 1024px;
	margin: 0 auto;
}

.footer {
	text-align: center;
    padding: 20px;

	a {
		color: #999;
		text-decoration: none;
	}

	.easter-egg {
		color: #e8e8e8;
		padding: 5px 10px;
		cursor: default;

		&::selection {
			background: #999;
		}

		&::-moz-selection {
			background: #999;
		}
	}
}

#search {
	min-height: 480px;

	.header {
		text-align: center;
		margin-bottom: 50px;
	}

	.logo {
		opacity: 0.3;
		font-size: 4.857rem;
		font-weight: 100;
		margin-top: 60px;
		margin-bottom: 20px;
	}

	.user-location {
		.checking-location,
		.current-location {
			text-align: center;
			padding: 20px;
			font-size: 0.929rem;
			color: #999;
			line-height: 2;

			img {
				max-width: 30px;
			}
		}

		.current-location {
			.label {
				font-size: 0.857rem;
			}
		}
	}

	.search-box {
		width: 500px;
		margin: 0 auto;
		position: relative;
	}

	.search-input {
		display: block;
		font-size: 1.143em;
		line-height: 45px;
		padding: 0 25px;
		vertical-align: middle;
		margin: 0 0 10px;
		border-color: transparent;
		background: #fff;
		width: 100%;
		margin-bottom: 0;
		font-weight: 100;
		letter-spacing: 1px;
		border-radius: 2px;
		text-indent: 15px;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
		height: 45px;
		box-sizing: border-box;

		&:focus {
			outline-offset: none;
			outline: none;
		}

		&::-webkit-input-placeholder {
			color: #999;
		}

		&::-moz-placeholder {
			color: #999;
		}

		&:-ms-input-placeholder {
			color: #999;
		}

		&:-moz-placeholder {
			color: #999;
		}

		&.error {
			border: 1px solid #f04134;
   			box-shadow: 0 0 0 2px rgba(240,65,52,.2);
		}
	}

	.icon-search {
		width: 45px;
		height: 45px;
		line-height: 45px;
		position: absolute;
		left: 0;
		font-size: 1.286rem;
    	opacity: 0.5;
	}

	.search-results {
		max-width: 600px;
		margin: 0 auto;
		position: relative;

		.search-item-header {
			position: relative;
		}

		.query-time {
			margin-bottom: 10px;
			opacity: .7;
			font-size: 0.93rem;
		}

		.no-results {
			text-align: center;
			color: #999;
			margin-bottom: 40px;

			h2 {
				font-weight: 100;
			}
		}

		.search-item {
			margin-bottom: 20px;
			padding: 20px 16px;
			position: relative;
			background-color: #fff;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

			label {
				display: none;
				font-size: 0.8rem;
				width: 50px;
				font-weight: 300;
				text-transform: uppercase;
			}

			h2.name {
				margin: 0;
				display: inline-block;
				font-weight: 300;
				margin-right: 5px;
				font-family: "Source Sans Pro", sans-serif;
			}

			.ifsc {
				background: #0070e0;
				font-size: 0.929rem;
				border-radius: 2px;
				color: #fff;
				padding: 3px 10px;
				position: absolute;
				right: 0;
				top: 6px;
				letter-spacing: 1px;
				font-weight: 300;
			}

			.search-item-body {
				color: #999;
				margin-bottom: 10px;
				border-bottom: 1px solid #eee;
				padding-bottom: 10px;
			}

			.branch {
				margin-right: 5px;
			}

			.info {
				display: inline-block;

				.phone-number {
					display: inline-block;
				}

				.micr {
					display: inline-block;
				}
			}

			.address {
				margin-bottom: 5px;
				margin-top: 10px;

				.icon {
					color: #999;
					margin-right: 0;
				}
			}

			.share {
				visibility: hidden;
				font-size: 1.1rem;
				margin-left: 5px;
				opacity: 0;
				color:#0070e0;
				transition: opacity 0.3s linear;
				cursor: pointer;
			}

			&:hover .share {
				visibility: visible;
				opacity: 1;
			}

			.label {
				text-transform: uppercase;
				font-size: 0.857em;
				color: #999;
				margin-right: 10px;
			}
		}
	}

	.share-popup-wrapper {
		position: fixed;
		top: 0;
		bottom: 0;
		width: 100%;
		left: 0;
		background: rgba(0, 0, 0, 0.2);

		.share-popup {
			top: 30%;
			left: 50%;
			width: 350px;
			padding: 40px;
			position: fixed;
			background: #fff;
			margin-left: -175px;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);

			.share-url {
				min-width: 320px;
				font-size: 1rem;
				line-height: 40px;
				padding: 0 15px;
				vertical-align: text-bottom;
				margin: 0 0 10px;
				border-color: transparent;
				background: #fff;
				margin-bottom: 0;
				font-weight: 300;
				letter-spacing: 1px;
				border-radius: 2px;
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
				height: 40px;
				box-sizing: border-box;
			}

			button {
				display: inline-block;
				vertical-align: text-bottom;
				width: 40px;
				height: 40px;
				margin-left: -40px;
				border: transparent;
				background: transparent;
				cursor: pointer;
				border-left: 1px solid #f4f4f4;
				transition: all 0.5s ease;

				span.icon {
					font-size: 1.4rem;
				}

				&:focus {
					outline: none;
				}
			}
		}
	}
}

.progress {
	display: block;
	width: 100%;
	height: 2px;
	background: transparent;
	border-radius: 2px;

	.progress-bar {
		width: 0;
		height: 100%;
		border-radius: 2px;
		transition: width 0.5s linear;
		background: #fc677e;
	}
}

.list-item {}

.list-enter-active {
	transition: all .8s ease;
}

.list-leave-active {
	transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.list-enter,
.list-leave-to {
	transform: translateY(10px);
	opacity: 0;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s
}

.fade-enter, .fade-leave-to {
	opacity: 0
}

@media (max-width: 550px) {
	#app {
		padding: 4%;
	}

	#search {
		min-height: 300px;

		.header {
			margin-bottom: 10px;
		}

		.logo {
			margin-top: 20px;
			font-size: 3rem;
		}

		.search-box {
			width: 100%;
		}

		.search-input {
			font-size: 1rem;
		}

		 .search-results {
			.search-item {
			 	padding: 6%;

				 label {
					 display: inline-block;
				 }

			 	.ifsc {
					background: transparent;
					position: static;
					padding: 3px 0;
					color: #999;
					margin-bottom: 0;
					display: block;
					font-weight: 400;
					letter-spacing: 0;
				 }

				.hack {
					 display: none;
				 }

				.icon {
					display: none;
				}

				.info {
					 display: block;
					.micr,
					.phone-number {
						display: block;
					}
				}

				.search-item-body {
					margin: 0;
					padding: 0;
					border: none;
				}
		 	}
		 }
	}
}